#jumbotrom {
    background-image: url(https://ipkey.com.ua/media/k2/items/cache/edc1d0314df26f4954651131e82a7939_XL.jpg);
}

#Byte {
    color: cadetblue;
}

#Byte2 {
    color: cadetblue;
}

.table {
    width: 500px;
    height: 200px;
}