@model ByteCompany.Models.Review
@{
    ViewData["Title"] = "Create";
}

<h1>Добавить комментарий к товару</h1>

<form method="post" asp-action="Create" asp-route-productId="@Model.ProductId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="custom-control-label">Ваша оценка</label>
        <select class="form-control" asp-for="Rating">
            <option value="5" selected="selected">Отлично!</option>
            <option value="4">Хорошо</option>
            <option value="3">Не очень</option>
            <option value="2">Плохо</option>
            <option value="1">Ужасно</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="custom-control-label">Ваш отзыв</label>
        <input class="form-control" type="text" asp-for="TextReview" />
        <span asp-validation-for="TextReview" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Добавить" />
</form>
<a class="btn btn-light" 
   asp-controller="Products" 
   asp-action="Details" 
   asp-route-Id="@Model.ProductId" >Назад</a>

