@model IQueryable<ByteCompany.Models.Answer>
@{
    ViewData["Title"] = "Index";
}

<h1>Bопросы</h1>

<table class="table">
    <tbody>
        @foreach (Answer answer in Model)
        {
            <tr>
                <td>@answer.User.FullName</td>
                <td>@answer.TextAnswer</td>
            </tr>
        }
    </tbody>
</table>


